<p id="notice"><%= notice %></p>

<p>
  <strong>Episode:</strong>
  <%= @comment2.episode %>
</p>

<p>
  <strong>User:</strong>
  <%= @comment2.user %>
</p>

<p>
  <strong>Usercomment2:</strong>
  <%= @comment2.usercomment2 %>
</p>

<button>
<a href="/episodes/1">돌아가기</a>
	</button>
